<br />
<br />
<div style="text-align: center;">
  <div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins">
    <div class="wrapper wrapper--w680">
      <div class="card card-4">
        <div class="card-body" style="align-items: center;">
          Send New Request

          <div class="input-group">
            <label class="label" style="align-items: center;">Please Enter Org Username </label>
            <input class="input--style-4" type="text" name="username" />
          </div>
          <br />
          <div class="upload-btn-wrapper">
            <button class="btn">Upload a file</button>
            <input type="file" name="myfile" />
          </div>
          <br />
          <br />
          <div>
            <button
              class="button"
              style="vertical-align: middle;"
              type="submit"
            >
              <span> Send Request </span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
