<div style="text-align: center;">
  <div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins">
    <div class="wrapper wrapper--w680">
      <div class="card card-4">
        <div class="card-body">
          Choose The Type of Regsitertion

          <br /><br />

          <div>
            <button
              routerLink="/reg-org"
              routerLinkActive="active"
              class="button"
              style="vertical-align: middle;"
              type="submit"
            >
              <span>Register as org </span>
            </button>
          </div>

          <br />
          <div>
            <button
              routerLink="/reg-user"
              routerLinkActive="active"
              class="button"
              style="vertical-align: middle;"
              type="submit"
            >
              <span>Resigster as user </span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
